*{
    font-family: "Rubik", sans-serif;
}
.foorm{
    margin-right: auto;
    margin-top: 7px;
    margin-left: 6px;
}
.buttonn{
    margin-right: 15px;
}
.ull{
}
.dropdownn{
    text-align: right;
}
/* .cardd1{
    margin-right: 10px;
}
.cardd2{
    margin-left: 20px;
} */

